negro=#272822
rojo=#F92659
azul=#66D9EF
verde=#A6E22E
body 
	margin 0
	padding 0
	.container
		background negro
		position absolute
		top 0
		left 0 
		min-height 100vh
		width 100%
		color white
		display flex
		.preloader 
			background verde
			//este propiedad con el Displa Flex, centra en todos sus lados al elemento
			margin auto
			height 40px
			width 350px
			position relative
			span
				color negro
				font-weight bold
				font-size 25px
				line-height 40px
				//Centar el span
				position absolute 
				left 50%
				transform translateX(-50%)
			